@page
@model Unleashed_RP.Pages.Authentication.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm p-4">
            <h1 class="card-title text-center mb-4">Change Password</h1>
            <hr />
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger text-center mb-3"></div>

                <span asp-validation-for="ChangePassswordUserDTO.CurrentPassword" class="text-danger"></span>
                <form-input asp-for="ChangePassswordUserDTO.CurrentPassword" type="password" placeholder="Current password"></form-input>

                <span asp-validation-for="ChangePassswordUserDTO.ConfirmPassword" class="text-danger"></span>
                <form-input asp-for="ChangePassswordUserDTO.ConfirmPassword" type="password" placeholder="Confirm password"></form-input>

                <span asp-validation-for="ChangePassswordUserDTO.NewPassword" class="text-danger"></span>
                <form-input asp-for="ChangePassswordUserDTO.NewPassword" type="password" placeholder="New password"></form-input>

                <div class="d-grid gap-2 mb-3">
                    <btn Text="Change Password" is-submit=true Variant="Primary" class="btn-lg"></btn>
                </div>

                <p class="text-center">
                    Don't have an account? <a asp-page="./Register">Register here</a>.
                </p>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
