@page
@model Unleashed_RP.Pages.Authentication.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div>
    <form id="account" method="post">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserLoginDTO.UserUsername"></label>
            <input asp-for="UserLoginDTO.UserUsername" class="form-control" />
            <span asp-validation-for="UserLoginDTO.UserUsername" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserLoginDTO.UserPassword"></label>
            <input asp-for="UserLoginDTO.UserPassword" class="form-control" />
            <span asp-validation-for="UserLoginDTO.UserPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    Remember</>
                    <input type="checkbox" name="Remember" />
                </label>
            </div>
        </div>
        <div><a class="nav-link text-dark" asp-area="" asp-page="./Register">Register</a></div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>
</div>
