@page
@model Unleashed_RP.Pages.Authentication.LoginModel
@addTagHelper *, Unleashed_Shared_UI
@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm p-4">
            <h1 class="card-title text-center mb-4">Welcome Back!</h1>
            <hr />
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger text-center mb-3"></div>
                <span asp-validation-for="UserLoginDTO.UserUsername" class="text-danger"></span>
                <form-input asp-for="UserLoginDTO.UserUsername" placeholder="Your username"></form-input>
                
                <span asp-validation-for="UserLoginDTO.UserPassword" class="text-danger"></span>
                <form-input asp-for="UserLoginDTO.UserPassword" type="password" placeholder="Your password"></form-input>
               
                <div class="mb-3">
                    <animated-checkbox asp-for="UserLoginDTO.RememberMe"></animated-checkbox>
                </div>

                <div class="d-grid gap-2 mb-3">
                    <btn Text="Log In" is-submit=true Variant="Primary" class="btn-lg"></btn>
                </div>

                <p class="text-center">
                    Don't have an account? <a asp-page="./Register">Register here</a>.
                </p>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}