@page
@model Unleashed_RP.Pages.Payment.CheckoutModel
@{
}
@{
    ViewData["Title"] = "Test VNPAY";
}

<h1>VNPAY Integration Test</h1>

<p>Click the button below to start a test payment.</p>

<form method="post">
    <button type="submit" class="btn btn-primary">
        Pay with VNPAY
    </button>
</form>